<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Snuuper Administration</h1>
        <p>
          <a href="/home/profile">Snuuper Profile »</a>
        </p><br>
        <p>
          <a href="/customers">Snuuper Customers »</a>
        </p>

      </div>
    <%- include footer %>